#title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 45px;
    color: #012C56 !important
}


.blanco{
    color: white
}

.azul{
    --ion-background-color: #012C56 !important;
}