<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listaAsignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-list *ngFor="let asig of listaAsignatura" style="height: auto;">
  <ion-button (click)="verAsignatura(asig.id_asignatura)" expand="block" fill="clear" shape="round">
    <ion-title>{{asig.nombre}}  {{asig.seccion}} </ion-title>
    <ion-text >
      {{asig.p_nombre}}  {{asig.ap_paterno}} 
    </ion-text>
</ion-button>
</ion-list>



</ion-content>
