    @keyframes changeBackgroundColor {
        from {
            color: #ffff;

        }
        to {
            color: #1b83be;
        }
    }
    
    #animated-button {
        width: 250px;
        animation-name: changeBackgroundColor;
        animation-duration: 5s;
        animation-timing-function: ease-in;
        animation-iteration-count: 100;
    }
    
    .centrado-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        background-color: #dbb020;
    }
    
    #usuario {
        background-color: #ffffff;
        text-align: left;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    #contra {
        width: 260px;
        text-align: left;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    #color1 {
        display: flex;
        margin-top: 30px;
        background-color: #1b83be;
        padding: 20px;
        box-shadow: #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #color2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
    }
    
    ion-input {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    ion-label {
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #icono1 {
        padding-block-start: 10px;
    }
    
    #title {
        font-size: 25px;
        color: #ffffff;
    }