<ion-header>
  <ion-toolbar id="tool">
    <ion-buttons slot="start">
      <ion-back-button id="volver" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title id="title" class="centered-title">Lista Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-item id="item" button *ngFor="let asig of listaAsignatura"
  detail="true" detail-icon="caret-forward-outline"
  (click)="detalleAsignatura(asig.id_asignatura)">
    <ion-label> {{asig.nombre}}  {{asig.seccion}} </ion-label>
  </ion-item>

</ion-content>
