<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons slot="end">
      <ion-icon size="large" class="ion-margin-end" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons >
    <ion-title class="centered-title">Scanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button class="ion-margin" (click)="scannearQR()" expand="block" shape="round">
    Scannear QR
  </ion-button>

  <ion-label> {{scannedResult}} </ion-label>

</ion-content>
