<ion-header [style.visibility] = "scaneando">
  <ion-toolbar id="tool">
    <ion-buttons slot="start">
      <ion-back-button id="volver" text="Volver"></ion-back-button>
    </ion-buttons >
    <ion-title id="title">Scanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility] = "scaneando">
  
  <ion-button id="button" class="ion-margin" (click)="scannearQR()" expand="block" shape="round">
    Scannear QR
  </ion-button>

  <ion-label> {{confirmar}} </ion-label>

</ion-content>
