<ion-header >
  <ion-toolbar id="tool">
    <ion-buttons slot="start">
      <ion-back-button id="volver" text="Volver"></ion-back-button>
    </ion-buttons >
    <ion-title id="title">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    
  <ion-item class="ion-text-center">
    <ion-select label="Asignatura" placeholder="Seleccionar"
    (ionChange)="cargarHoras($event)">
      <ion-select-option *ngFor="let asig of listaAsignatura" 
      [value]="asig.id_asignatura"> {{asig.nombre}} {{asig.seccion}} </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-text-center" *ngIf="cargarHorasSelect">
    <ion-select label="Clase" placeholder="Seleccionar"
    (ionChange)="generarQR($event)">
      <ion-select-option *ngFor="let hora of horasAsignatura" 
      [value]="hora.id"> 
         {{hora.dia_nombre}} 
         {{hora.hora_ini}} -
         {{hora.hora_fin}} 
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card class="ion-text-center" *ngIf="qrGenerado" >
    <ion-card-content style="background-color: white;">
      <qrcode [qrdata]="dataQR" 
              [width]="256" 
              [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="ion-text-center" *ngIf="!qrGenerado">
    <ion-card-content>
      <img src="assets/icon/codigo-qr.png" alt="Imagen">
    </ion-card-content>
  </ion-card>

  <ion-button id="button"
    class="ion-margin-horizontal"  
  (click)="limpiarQR()" expand="block" shape="round">
    Limpiar
  </ion-button>

</ion-content>
