#tool{
    --background: #012C56;
}

#volver{
    color: #fff;
}
#title{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#button{
    --ion-color-primary: #012C56;
}