#tool{
    --background: #012C56;
}

#title{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

#volver{
    color: #fff;
}

#card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 380px;
}

#item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}