<ion-header id="inicio">
    <ion-toolbar id="tool">
    <ion-buttons slot="start">
        <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
<ion-img id="logo" src="assets/icon/logo.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="card">
    <ion-title id="detalleTitle"> ¡Bienvenido de vuelta {{usu.p_nombre}}!</ion-title>
</ion-card>
    <ion-card class="card" *ngIf = "compDatos">
        <ion-item class="item">
            <div class="label-container">
            <ion-label id="datos">Nombre: {{usu.p_nombre}} {{usu.ap_paterno}} </ion-label>
            <ion-label id="datos">Gmail: {{usu.gmail}} </ion-label>
            <ion-label id="datos">Usuario: {{usu.tipoUsuario}} </ion-label>
        </div>
        </ion-item>
    </ion-card>

    <ion-button *ngIf="usu.tipoUsuario==='alumno'" 
     id="button" class="ion-margin" (click)="irAsignaturas()" expand="block" shape="round">
        Asignaturas Alumno
    </ion-button>

    <ion-button *ngIf="usu.tipoUsuario==='alumno'" 
     id="button" class="ion-margin" (click)="irScannearQR()" expand="block" shape="round">
        Scannear QR
    </ion-button>

    <ion-button *ngIf="usu.tipoUsuario==='profesor'" 
     id="button" class="ion-margin" (click)="irAsignaturasProfe()" expand="block" shape="round">
        Asignaturas Profe
    </ion-button>

    <ion-button *ngIf="usu.tipoUsuario==='profesor'" 
     id="button" class="ion-margin" (click)="generarQR()" expand="block" shape="round">
        Generar QR
    </ion-button>

</ion-content>