<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-buttons slot="end">
            <ion-icon size="large" class="ion-margin-end" name="person-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="centered-title">
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-button class="ion-margin" (click)="irAsignaturas()" expand="block" shape="round">
        Asignaturas Alumno
    </ion-button>

    <ion-button class="ion-margin" (click)="irScannearQR()" expand="block" shape="round">
        Scannear QR
    </ion-button>

    <ion-button class="ion-margin" (click)="irAsignaturasProfe()" expand="block" shape="round">
        Asignaturas Profe
    </ion-button>

    <ion-button class="ion-margin" (click)="generarQR()" expand="block" shape="round">
        Generar QR
    </ion-button>

</ion-content>