<ion-header id="inicio">
    <ion-toolbar>
        <ion-title id="title" class="centered-title">
            Inicio
        </ion-title>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-buttons slot="end">
            <ion-icon size="large" class="ion-margin-end" name="person-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf = "compDatos">
        <ion-title id="detalleTitle"> ¡Bienvenido de vuelta {{detalle.p_nombre}}!</ion-title>
        <ion-item>
            <ion-label id="datos">Nombre: {{detalle.p_nombre}} {{detalle.ap_paterno}} </ion-label>
        </ion-item>
            <ion-item>
            <ion-label id="datos">Gmail: {{detalle.gmail}} </ion-label>
        </ion-item>

    </ion-card>

    <ion-button id="button" class="ion-margin" (click)="irAsignaturas()" expand="block" shape="round">
        Asignaturas Alumno
    </ion-button>

    <ion-button id="button" class="ion-margin" (click)="irScannearQR()" expand="block" shape="round">
        Scannear QR
    </ion-button>

    <ion-button id="button" class="ion-margin" (click)="irAsignaturasProfe()" expand="block" shape="round">
        Asignaturas Profe
    </ion-button>

    <ion-button id="button" class="ion-margin" (click)="generarQR()" expand="block" shape="round">
        Generar QR
    </ion-button>

</ion-content>